// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.debug_dump {
  position: absolute;
  width: 400px;
  right: 0px;
  bottom: 0px;
}
